var format = (function(index) {
    index = index - 1;
    var modearr = ["邮费到付", "邮费在线支付"];
    return (modearr[((nt_0 = (index), null == nt_0 ? undefined : 'number' === typeof nt_0 ? nt_0 : "" + nt_0))])
});
var savefiexed = (function(res) {
    var b = parseFloat(res).toFixed(3);
    var result = b.substring(0, b.toString().length - 1);
    return (result)
});
module.exports = ({
    format: format,
    savefiexed: savefiexed,
});